.transactionsList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #e49f36;
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #e49f36;
  color: black;
  margin-right: 10px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
