.productList {
  flex: 4;
}

.productListItem {
  display: flex;
  align-items: center;
}

.productListImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid rgb(136, 230, 208);
}

.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(189, 245, 189);
  color: rgb(3, 123, 3);
  margin-right: 10px;
}

.productListDelete {
  color: red;
  cursor: pointer;
}
