.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 10px;
  background-color: rgb(189, 245, 189);
  color: rgb(3, 123, 3);
  border-radius: 10px;
  cursor: pointer;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(49, 238, 171, 0.46);
  box-shadow: 2px 2px 6px 1px rgba(49, 238, 171, 0.46);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 6px 1px rgba(49, 238, 171, 0.46);
  box-shadow: 2px 2px 6px 1px rgba(49, 238, 171, 0.46);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowButton {
  margin-top: 20px;
}

.userShowTopTitle {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: black;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowInfoTitle {
  margin-right: 10px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 16px;
}

.userUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid rgb(19, 164, 113);
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateImg {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: 20px;
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  width: 80px;
  border: none;
  padding: 10px;
  background-color: rgb(189, 245, 189);
  color: rgb(3, 123, 3);
  border-radius: 10px;
  cursor: pointer;
}
