.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #f9ecdc;
  position: sticky;
  top: 50px;
  font-size: 18px;
}

.sidebarTitle {
  padding: 10px;
}

.sidebarWraper {
  padding: 20px;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-style: 13px;
  color: rgb(133, 130, 130);
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  padding: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.sidebarListItem:hover {
  background-color: #e49f36;
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.sidebarMarca {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.sidebarMarcaImg {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 9px 4px #eba856, 0px 0px 9px 4px #eba856;
  box-shadow: 0px 0px 9px 4px #eba856, 0px 0px 9px 4px #eba856;
}

.items {
  text-decoration: none;
}


/* .sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #dffef5;
  position: sticky;
  top: 50px;
}

.sidebarWraper {
  padding: 20px;
}
.sidebarMenu {
  margin-bottom: 10px;
}
.sidebarTitle {
  font-style: 13px;
  color: rgb(133, 130, 130);
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(161, 249, 234);
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
 */